/* ==================================== INICIO DO MENU DE NAVEGAÇÃO ==================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #224661;
}
.navbar {
    background-color: rgba(34, 70, 97);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
}
.logo h1 {
    margin: 0;
    font-size: 36px;
}
.menu-toggle {
    display: none;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu li {
    margin: 0 15px;
}
.menu a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
.menu a:hover {
    text-decoration: none;
    color: #3498db;
}
/* ==================================== FIM DO MENU DE NAVEGAÇÃO ==================================== */



/* ==================================== INICIO CONTAINER ==================================== */
/* Seção abaixo da barra de navegação - 'div mae' */
.section-container {
    background-color: #224661;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 100px; 
    height: 100vh;
    justify-content: center;
}
.section-left, .section-right, .section-right2 {
    flex: 1;
    padding: 20px;
}
/* Div dos textos e buttons*/
.section-left {
    width: 100%;
    height: auto; 
    justify-content: center;
    align-items: center;
}
.section-left h1{
    margin-top: 25%;
    font-size: 44px;
    color: #fff;
}
.section-left h2{
    margin-top: 15%;
    font-size: 30px;
    color: #fff;
}
.justop {
    text-align: justify;
}
.section-left p{
    margin-top: 40px;
    font-size: 18px;
    background-color: #224661;
    color: #BFCAD2;
}
.section-left button{
    margin-top: 20px;
}
.cta-button {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}
.cta-button:hover {
    background-color: transparent;
    color: #3498db;
}
.watch-video-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
    color: #3498db;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}
.watch-video-btn:hover {
    background-color: #3498db;
    color: #fff;
}
.watch-video-btn i {
    margin-right: 10px;
}
/* Div da IMG */
.section-right{
    width: 100%;
    height: auto; /* Altura da div */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Oculta parte da imagem fora da div */
}
.section-right img {
    max-width: 100%;
    height: auto;
    animation: moveUpDown 1.5s infinite alternate; 
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0); /* Começa sem deslocamento vertical */
    }
    100% {
        transform: translateY(-10px); /* Desloca 10 pixels para cima */
    }
}
/* ==================================== FIM CONTAINER ==================================== */


/* ==================================== INICIO DO CONTAINER 'ABOUT.HTML' ==================================== */
.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    padding: 20px;
    margin: 2px;
    margin-top: 70px;
    box-sizing: border-box;
    height: auto;
    background-color: rgba(40, 97, 140, 0.588)  ;
    border-radius: 8px; 
}
.box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}
.box h1 {
    padding-top: 20px;
    font-size: 30px;
    color: #fff;
}
.box p{
    padding-top: 20px;
    color: #fff;
    text-align: justify;
}
.box a {
    color: #fff;
}
.box0 {
    flex: 1;
    padding: 20px;
    margin: 2px;
    margin-top: 70px;
    box-sizing: border-box;
    background-color: rgba(40, 97, 140, 0.588)  ;
    border-radius: 8px;
}
.box0 h1 {
    padding-top: 20px;
    font-size: 30px;
    color: #fff;
}
.box0 p{
    padding-top: 20px;
    color: #fff;
    text-align: justify;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
}
.box2 {
    flex: 1;
    padding: 20px;
    margin: 2px;
    box-sizing: border-box;
    background-color: rgba(40, 97, 140, 0.588)  ;
    border-radius: 8px;
}
.box2 h1 {
    padding-top: 20px;
    color: #fff;
    font-size: 30px;
}
.box2 p{
    padding-top: 20px;
    color: #fff;
    text-align: justify;
}

.box2 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}
.box2 iframe {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
}
.box3 {
    flex: 1;
    padding: 20px;
    margin: 2px;
    box-sizing: border-box;
    background-color: rgba(40, 97, 140, 0.588)  ;
    border-radius: 8px;
}
.box3 h1 {
    padding-top: 20px;
    color: #fff;
    font-size: 30px;
}
.box3 p{
    padding-top: 20px;
    color: #fff;
    text-align: justify;
}

.box3 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}
.box3 a {
    color: #fff;
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporção 16:9 (calculada como altura / largura * 100) */
    overflow: hidden;
}
.box3 iframe {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}
/* ==================================== FIM DO CONTAINER 'ABOUT.HTML' ==================================== */

/* ==================================== INICIO DO LAYOUT DA PAGINA 'COMUNIDADE.HTML' ==================================== */
.coment {
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 70px;
    padding: 20px;
    color: #fff;
    background-color: rgba(40, 97, 140, 0.588)  ;
    border-radius: 8px;
}

.coment h2 {
    margin-bottom: 10px;
    color: #fff;
}

.input-coment {
    margin-bottom: 20px;
    border: 8px;
    border-radius: 10px;
}

input[type="text"],textarea {
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}


.comentarios-coment {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.comment {
    margin-bottom: 10px;
}
/* ==================================== INICIO DO LAYOUT DA PAGINA 'COMUNIDADE.HTML' ==================================== */

/* ==================================== INICIO LAYOUT RESPONSIVO ==================================== */
@media screen and (max-width: 768px) {
    /* Inicio Menu responsivo */
    .logo h1 {
        margin: 0;
        padding-right: 40%;
        font-size: 36px;
    }
    .menu {
        display: none;
        flex-direction: column;
        background-color: #224661;
        position: absolute;
        top: 100px;
        left: 80%;
        width: 20%;
        border-radius: 10px;
        border: solid 2px #fff;
    }
    .menu li {
        text-align: left;
        border: solid 0.5px #fff;
        width: 100%;
    }
    .menu.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }/* Fim Menu responsivo */

    /* Inicio Divs do Index */
    .section-container {
        background-color: #224661;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        padding: 0;
        padding-top: 30%;
        height: 100vh;
        margin-top: 0%;
        justify-content: start;
    }
    .section-left, .section-right {
        flex: 0;
        padding: 20px;
    }
    .section-left {
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .section-left h1{
        margin-top: 0;
        font-size: 32px;
        color: #fff;
    }
    .section-left h2{
        margin-top: 0;
        font-size: 32px;
        color: #fff;
    }
    .section-left p{
        margin-top: 40px;
        font-size: 12px;
        background-color: #224661;
        color: #BFCAD2;
    }
    .section-left button{
        margin-top: 5%;
    }
    .cta-button {
        padding: 10px 20px;
        font-size: 12px;
        border: 2px solid #3498db;
        border-radius: 5px;
        cursor: pointer;
        background-color: #3498db;
        color: #fff;
        margin-right: 10px;
        transition: background-color 0.3s, color 0.3s;
    }
    .watch-video-btn {
        padding: 10px 20px;
        font-size: 12px;
        border: 2px solid #3498db;
        border-radius: 5px;
        cursor: pointer;
        color: #3498db;
        background-color: transparent;
        transition: background-color 0.3s, color 0.3s;
    }
    .watch-video-btn:hover {
        background-color: transparent;
        color: #3498db;
    }
    .watch-video-btn i {
        margin-right: 10px;
    }
    .section-right{
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
    }
    .section-right img {
        margin-top: 0%;
        max-width: 100%;
        height: auto;
        animation: moveUpDown 1.5s infinite alternate; 
    }
    @keyframes moveUpDown {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px);
        }
    }/* Fim Divs do Index */
    .container {
        flex-direction: column;
    }

    .box {
        width: 100%;
        margin-top: 2px;
    }
    .box p {
        text-align: left;
    }
    .box0 {
        width: 100%;
        margin-top: 105px;
    }
    .box0 p{
        text-align: left;
    }
    .container2 {
        flex-direction: column-reverse;
    }

    .box2 {
        width: 100%;
    }
    .box2 p{
        text-align: left;
    }
    .container3 {
        flex-direction: column;
    }

    .box3 {
        width: 100%;
    }
    .box3 p{
        text-align: left;
    }
    .coment {
        align-items: center;
        width: 100%;
        margin-left: 0;
        margin-top: 70px;
        padding: 20px;
        color: #fff;
    }
}
/* ==================================== FIM LAYOUT RESPONSIVO ==================================== */